<!DOCTYPE html>
<html>
<head>
<div class="buttons">
<style>

.btn {
    background-color: orangered; 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
  .btn:hover {
    background-color: RoyalBlue;
  }
  button {
  margin-left :20px }

  </style>
</div>

</head>
<body>
    <style>
        p1{
            font-size: 28px;
            color: blueviolet;
            text-align: left;
            font-weight: bold;
        }  
    </style>
</body>

<footer>
    <style> 
      footer {
        display: inline-flex;
        padding: 3px;
        font-size: 20px;
        background-color: darkblue;
        color: white;
      }
    </style>
    <p>All copyrights reserved @ TCS.com</p>
</footer>